@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-bar {
  @apply flex justify-between items-center h-16 bg-white text-black relative shadow-sm font-mono;
}

.dropdown {
  @apply grid grid-rows-4 text-center items-center bg-green-500 font-mono;
}

.footer {
  @apply flex justify-center items-center h-16 bg-black text-white font-mono;
}

/* #map {
  height: 100%;
  margin: 0;
  padding: 0;
} */
